<section id="features" class="section features1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
<div id='success_page'>
<h3>Email Sent Successfully.</h3>
<p><%= @name %></p>
<p><%= @email %></p>
<p><%= @comments %></p>
<p>Thank you <strong><%= @name %></strong>,your message has been submitted to us.</p>
<p class=center>お問い合わせありがとうございます！</p>
</div>
    </div>
        </div>
</fieldset>
</section>

