<ul>
    <li>
        <a href="/hello">Hello</a>
    </li>
    <li>
        <a href="/time">時間</a>
    </li>
    <li>
        <a href="/form">フォーム送信</a>
    </li>
    <li>
        <a href="/upload">画像アップロード</a>
    </li>
</ul>