
  
  <!-- banner text section-->
  <div id="banner" class="container">
    <div class="col-md-6 col-sm-12"> <img class="banner-img img-responsive" src="./images/mas.jpg" width="60%" height="59%"> </div>
    <div class="col-md-6 col-sm-12">
      <div class="banner-text">
        <h1>Rocky Production</h1>
        <p>Represent okinawa dancehall reggae production.</p>
        
        <iframe width="530" height="315" src="https://www.youtube.com/embed/fskEmv8fZtE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--
          <div class="banner-btn"><a href="#"><img src="images/apple-store-btn.png"></a> <a href="#"><img src="images/google-store-btn.png"></a> </div>
        -->
    </div>
      <!-- banner text section--> 
      
    </div>
  </div>
</section>
<!-- header section --> 

      <div class="signup-modal-wrapper" >
  </div>
  <!-- 「login-modal」というidを追加してください -->
  <div class="login-modal-wrapper" id='login-modal'>
    <!-- ログインのモーダル部分のHTMLを貼り付けてください -->
    <div class="modal" id="login">
      <div id="login-form">
        <h2>Emailログイン</h2>
        <form action="#">
          <input class="form-control" type="text" placeholder="メールアドレス">
          <input class="form-control" type="password" placeholder="パスワード">
          <div id="submit-btn">ログイン</div>
        </form>
      </div>
    </div>
    
    
  </div>
<!-- overview section -->
<section id="overview" class="section overview">
  <div class="container">
    <div class="row"> 
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">Brand new music</h2>
        <p class="section-intro">時は令和元年、ロキプロよりフィーメールDeejay誕生</p>
      </div>
      <div class="col-md-12 text-center overview-video">
        <iframe width="60%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/641891967&color=%237881c1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-3"> <span class="icon icon-browser"></span>
        <div class="overview-content">
          <h4>平成スタイリー</h4>
          <p>Lady Shuuのデビュー作品である。Return of fever riddimに乗せ女性目線でのダンスホールソングに仕上げている。同リディムでは他にも、U-dou"Mi Love 90s Dancehall Reggae"/Newman"Dancehall Teacher"を2018年にリリース。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- overview section --> 
<!-- feature section 1 -->
<section id="features" class="section features1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">About  <span>Rocky Production</span></h2>
        <p class="section-intro">沖縄で活動する"Rocky"によるダンスホールミュージックプロダクション</p>
      </div>
    </div>
    <div class="row features1-content-space">
      <div class="col-md-4 col-sm-12">
        <div class="features1-content left"> <span class="icon icon-profile-male"></span>
          <h4>Profile</h4>
          <p>沖縄市出身・高校生よりサウンドマンとしてキャリアをスタート。2016年に突発性難聴により右耳の聴力を失うも活動を続け楽曲制作を行っている。</p>
        </div>
        <div class="features1-content left"> <span class="icon icon-tools"></span>
          <h4>artists</h4>
          <p>U-Dou&Platy,Newman,Jr.Dee,Yoyo-C,Ritto,I-Van,Daia,Rick-C,Juicyman,Lady Shuu,Irie Tell</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 middle"> <img class="img-responsive" src="./images/rocky.png"> </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content right"> <span class="icon icon-mic"></span>
          <h4>Work</h4>
          <p>2015 U-Dou&Platy - Hook Up[Album]<br>
              2017 NEWMAN feat. U-Dou&Platy - ココ夏[SINGLE]
              2017 U-Dou - REVOLUTION[EP]<br>
              2018 Various Artists - Dope Riddim[EP]<br>
              2018 Various Artists - Trami Riddim[EP]<br>
              2019 Various Artists - Trami Riddim pt.2[EP]<br>
              2019 Juicyman - Young Star[EP]</p>
        </div>
        <div class="features1-content right"> <span class="icon icon-adjustments"></span>
          <h4>Tools</h4>
          <p>[DAW] Studio One4・FL Studio・Maschine<br>
          [PlugIn] Waves・iZotope・Native Instruments　more.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature section 1 --> 

<!-- feature section 2 
<section id="features" class="section features2">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="float:right;">
        <div class="features2-content">
          <h2 class="section-title">Completely flexible, create the landing page <span>you want</span></h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          <ul>
            <li><i class="fa fa-check"></i> Sed ut perspiciatis unde omnis </li>
            <li><i class="fa fa-check"></i> iste natus error sit voluptatem accusantium </li>
            <li><i class="fa fa-check"></i> doloremque laudantium, totam rem aperiam.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6"> <img class="img-responsive" src="images/feature-screen2.png"> </div>
    </div>
  </div>
</section>
 feature section 2 --> 

<!-- feature section 3 
<section id="features" class="section features3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="features2-content">
          <h2 class="section-title">Super flexible and very easy to modify your <span>app screen</span></h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>
      <div class="col-md-6"> <img class="img-responsive" src="images/feature-screen3.png"> </div>
    </div>
  </div>
</section>
 feature section 3 --> 

<!-- screen shots slider section-->
<section id="screens" class="section screens">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">Released <span>Music</span></h2>
        <p class="section-intro">All music available on platforms.</p>
      </div>
    </div>
  </div>
  <!-- owl-carousel starts -->
  <div id="owl-demo" class="owl-carousel">
    <div class="item"><a href="https://artist.landr.com/music/628810026173" target="_blank"><img src="./images/photo/Trami riddim1_480x480.jpg" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/628810197668" target="_blank"><img src="./images/photo/trami3000_480x480.jpg" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739634343" target="_blank"><img src="./images/photo/BAKUON-HIKOU.png" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739516595" target="_blank"><img src="./images/photo/Daia - Gimmi De Mic.jpg" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739634343" target="_blank"><img src="./images/photo/Juicyman.png" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739419230" target="_blank"><img src="./images/photo/jac.png" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739488717" target="_blank"><img src="./images/photo/はだかのおおさま.png" width="250" height="250"></a></div>
    <div class="item"><a href="https://artist.landr.com/music/800739432147" target="_blank"><img src="./images/photo/mujina_480x480.png" width="250" height="250"></a></div>

    <!-- <div class="item"><img src="images/app-screen/screen6.jpg"></div> -->
    <!-- <div class="item"><img src="images/app-screen/screen7.jpg"></div> -->
    <!-- <div class="item"><img src="images/app-screen/screen2.jpg"></div> -->
    <!-- <div class="item"><img src="images/app-screen/screen5.jpg"></div> -->
    <!-- <div class="item"><img src="images/app-screen/screen1.jpg"></div> -->
    <!-- <div class="item"><img src="images/app-screen/screen6.jpg"></div> -->
  </div>
  <!-- owl-carousel starts --> 
</section>
<!-- screen shots slider section --> 

<!--subscribe section -->
<section id="download" class="section subscribe">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Get Your Free Download</h2>
        <img src="./images/photo/micky_bigup.jpeg" width="250" height="250" style="padding-bottom: 20px"><br>
        <button type="button" class="btn btn-success" onClick="location.href='http://download668.mediafire.com/o0258u873cgg/8zajpliljriywnc/Micky+Rich+-+Link%26Big+Up.mp3'">Download</button>
        <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p> -->
        <!-- <div  class="banner-btn"> <a href="#"><img src="images/apple-store-btn.png"></a> <a href="#" class="banner-btn"><img src="images/google-store-btn.png"></a></div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center subscribe-form">
        <h3 class="subscribe-title">Subscribe to Rocky Production's newsletter</h3>
        <!-- subscribe form -->
        <form method="post" action="/subscribe" name="subscribeform" id="subscribeform">
          <input type="text" name="email" placeholder="Enter your email address to get notified" id="subemail" />
          <input type="submit" name="send" value="Notify me" id="subsubmit" class="btn2" />
        </form>
        <!-- subscribe message -->
        <div id="mesaj"></div>
        <!-- subscribe message --> 
      </div>
      <!-- subscribe form --> 
    </div>
  </div>
</section>
<!--subscribe section --> 

<!--contact section -->

<section id="contact" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h2 class="section-title">Contact</h2>
        <p class="section-intro">制作依頼・ご質問などはこちらから</p>
      </div>
    </div>
    
    <!--contact form start-->
  <div class="col-md-6 col-md-offset-3 conForm">

    <form action="/form_output2" method="POST">
      <input type="text" name="name" id="name" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
      <input type="email" name="email" id="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
      <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Comments..."></textarea>
      <input type="submit" id="submit" name="send" class="submitBnt" value="Send">

      </form>
  </div>

  <!--オリジナルコンタクトフォーム
    <div class="col-md-6 col-md-offset-3 conForm">
      <div id="message"></div>
      <form method="post" action="./php/contact.php" name="cform" id="cform">
        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
        <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
        <div id="simple-msg"></div>
      </form>
    </div>
    -->
 
  </div>
</section>
